:root {
    --border: .2rem solid rgba(150, 150, 150, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.1s;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Titillium Web', sans-serif;
}

/* HEADER */

.header {
    background-color: aliceblue;
    border: var(--border);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo{
    height: 5rem;
    width: auto;
}

.nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.nav ul li {
    margin-right: 1.5rem;
    text-transform: capitalize;
}

.nav ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    color: #111;
    transition: 0.4s;
}

.button {
    font-size: 1.1rem;
    text-decoration: none;
    color: #111;
    background-color: #f8ad5e;
    padding: 0.5rem 1.5rem;
    transition: 0.3s;
    border-radius: 10px;
}

.nav ul li a:hover {
    color: #f49c3e;
}

.button:hover {
    background-color: #f49c3e;
    color: #fff;
}

.nav ul li a:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.5px;
    background-color: #f49c3e;
    transition: .3s;
    opacity: 0;
}

.nav ul li a:hover:after {
    width: 100%;
    bottom: -0.5rem;
    opacity: 100%;
}

#mobile-nav-open {
    display: none;
}

.right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.main {
    max-height: 100vh;
}

/* SLIDER */

.swiper {
    width: 100%;
    max-height: 88vh;
}

.swiper-slide {
    text-align: center;
    font-size: 2rem;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */
.footer {
    width: 100%;
    height: auto;
    background-color:aliceblue;
    margin-top: 0.5rem;
    padding: 3rem 1rem;
}

.links_and_map {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer h3 {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 0.5rem;
}

.footer ul li {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

.footer ul li a {
    text-decoration: none;
    color: black;
    margin-bottom: 0.5rem;
}

.footer ul li a:hover {
    color: #bbb;
}

.phone, .email {
    margin-left: 0.5rem;
}

.contact a {
    text-decoration: none;
}

iframe {
    border-radius: 10px;
}

.copyright {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}

.mobile-navbar {
    background-color:aliceblue;
    opacity: 0.92;
    position: fixed;
    right: 0;
    z-index: 3;
    height: 100vh;
    width: 80%;
    padding: 2rem;
    transition: 0.3s ease-in;
}

.mobile-navbar.opened {
    transform: translateX(0);
}

.mobile-navbar.closed {
    transform: translateX(100%);
}

.none {
    display: none;
}

#nav-close {
    position: absolute;
    font-size: 2.5rem;
    color: #ea963b;
}

.mobile-navbar ul {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

.mobile-navbar ul li {
    list-style: none;
    padding: 1.5rem 2rem;
}

.mobile-navbar ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

@media only screen and (max-width: 992px){
    
    .header {
        padding: 1rem 0;
    }

    .container {
        width: 95%;
    }

    .logo {
        height: 3rem;
    }

    .nav {
        margin: 0 1rem;
    }

    .nav ul li {
        margin-right: 1rem;
    }

    .links_and_map {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 768px){
    
    #mobile-nav-open {
        color:#ea963b;
        display: block;
        font-size: 2rem;
    }

    .nav ul {
        display: none;
    }

    .footer {
        margin-top: 0;
        padding-left: 1rem;
    }

    .links_and_map {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .footer iframe {
        width: 95%;
        height: 250px;
    }

    .links_and_map div {
        margin-bottom: 1rem;
    }

    .button {
        font-size: 1rem;
        padding: 0.4rem 0.5rem;
        border-radius: 10px;
    }

    .swiper {
        width: 100%;
        height: 85vh;
    }
}