* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Titillium Web', sans-serif;
}

/* HEADER */

.header {
    background-color: aliceblue;
    border-radius: 0 0 2rem 2rem ;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 5rem;
    width: auto;
}

.nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.nav ul li {
    margin-right: 2rem;
}

.nav ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    color: #111;
    transition: 0.4s;
}

.button {
    font-size: 1.1rem;
    text-decoration: none;
    color: #111;
    background-color: #f8ad5e;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}

.nav ul li a:hover {
    color: #f49c3e;
}

.button:hover {
    background-color: #f49c3e;
    color: #fff;
}

.nav ul li a:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.5px;
    background-color: #f49c3e;
    transition: .3s;
    opacity: 0;
}

.nav ul li a:hover:after {
    width: 100%;
    bottom: -0.5rem;
    opacity: 100%;
}


/* SLIDER */

.swiper {
    width: 100%;
    height: 84vh;
    margin: 0.5rem 0;
}

.swiper-slide {
    text-align: center;
    font-size: 2rem;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */
.footer {
    width: 100%;
    height: auto;
    background-color:aliceblue;
    margin-top: 3rem;
    padding: 3rem 1rem;
}

.links_and_map {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer h3 {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 0.5rem;
}

.footer ul li {
    margin-bottom: 0.5rem;
}

.footer ul li a {
    text-decoration: none;
    color: black;
}

.footer ul li a:hover {
    color: #bbb;
}

.phone, .email {
    margin-left: 0.5rem;
}

.contact a {
    text-decoration: none;
}

.copyright {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}